<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="http://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
        <title>{{ title }}</title>
	</head>
	<body>
		<div class="login-form">
			<form>
			  <div class="form-group">
				<label>Логин</label>
				<input type="login" class="form-control" placeholder="Логин" autofocus>
			  </div>
			  <button type="submit" class="btn btn-info">Вход</button>
			</form>
		</div>
	</body>
	<script src="script.js"></script>
</html>