{% extends '_auth.html' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block left %}
    <div class="film-card">
        <span class="film-name">
            {{ movie.title }}
            <span class="likes">❤10 ★{{ movie.rank }}</span>
        </span>
        <span class="film-photo"><img src="{{ movie.poster }}"></span>
        <div class="film-action">
            <div class="film-likes">
                <form action="/like" method="post">
                  <input type="hidden" name="movie" value="{{ movie.id }}">
                  <span onclick="this.parentNode.submit();" class="like-button has-like">Мне нравится <span>❤ {{ movie.likes.length }}</span></span>
                  | <a class="like-button has-like" href="/recommendations/films/{{ movie.id }}">Другие фильмы, похожие на этот</a>
                </form>
            </div>
            <div class="film-comments">
                {% for comment in comments %}
                <div class="film-comment">
                    <span>{{ comment.name }}</span>
                    {{ comment.text }}
                </div>
                {% endfor %}
                <form class="comment-place" action="/comment" method="post">
                    <input type="hidden" name="movie" value="{{ movie.id }}">
                    <textarea name="comment" class="input" rows="4" placeholder="Что вы думаете?" required></textarea>
                    <button type="submit" class="button">Комментировать</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block right %}
    <h2>Похожие фильмы</h2>
    <div class="top-films-block">
        {% for film in near %}
        <a href="/films/{{ film.id }}">
            <span class="film-photo"><img src="{{ film.poster }}"></span>
            <span class="film-desc">
                <span class="film-name">{{ film.title }}</span>
                <span class="film-likes">Подробнее...</span>
            </span>
        </a>
        {% endfor %}
    </div>
{% endblock %}