{% extends '_auth.html' %}

{% block title %}Фильмы{% endblock %}

{% block left %}
    {% for film in data %}
    <span class="film-card">
        <span class="film-name">
            <a href="/films/{{ film.id }}">{{ film.title }}</a>
            <span class="likes">❤10 ★{{ film.rank }}</span>
        </span>
        <span class="film-photo">
            <a href="/films/{{ film.id }}"><img src="{{ film.poster }}"></a>
        </span>
    </span>
    {% endfor %}
{% endblock %}

{% block right %}
    <h2>TOP 10 фильмов</h2>
    <div class="top-films-block">
        <a href="#">
            <span class="film-photo"><img src="http://st-im.kinopoisk.ru/im/poster/1/4/7/kinopoisk.ru-The-Shawshank-Redemption-1479180.jpg"></span>
            <span class="film-desc">
                <span class="film-name">Хардкор</span>
                <span class="film-likes">Мне нравится ❤ 10</span>
            </span>
        </a>
    </div>
{% endblock %}