<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="http://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>{{ title }}</title>
	</head>
	<body>
		<div class="movies-list">
			<table class="table table-striped">
				<thead>
					<tr>
						<td>ID</td>
						<td>Афиша</td>
                        <td>Название</td>
						<td>Категория</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
                    {% for film in data %}
					<tr>
						<td>{{ film.id }}</td>
						<td><img src="{{ film.image }}"></td>
                        <td><a href="/films/{{ film.id }}">{{ film.name }}</a></td>
						<td><a href="#">{{ film.category }}</a></td>
						<td><span class="btn btn-primary">Мне нравится</span></td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>