{% extends '_auth.html' %}

{% block title %}Фильмы{% endblock %}

{% block left %}
    {% for film in data %}
    <span class="film-card">
        <span class="film-name">
            <a href="/films/{{ film.id }}">{{ film.title }}</a>
            <span class="likes">❤{{ film.likes }} ★{{ film.rank }}</span>
        </span>
        <span class="film-photo">
            <a href="/films/{{ film.id }}"><img src="{{ film.poster }}"></a>
        </span>
    </span>
    {% endfor %}
{% endblock %}

{% block right %}
    <h2>TOP 10 фильмов</h2>
    <div class="top-films-block">
        {% for film in top %}
        <a href="/films/{{ film.id }}">
            <span class="film-photo"><img src="{{ film.poster }}"></span>
            <span class="film-desc">
                <span class="film-name">{{ film.title }}</span>
                <span class="film-likes">❤{{ film.likes }} ★{{ film.rank }}</span>
            </span>
        </a>
        {% endfor %}
    </div>
{% endblock %}