<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="http://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>{{ title }}</title>
	</head>
	<body>
		<div class="movies-list full">
			<table class="table table-striped">
				<tbody>
					<tr>
                        <td><img src="{{ data[0].image }}"></td>
						<td>
                            ID: {{ data[0].id }}<br>
                            Название: {{ data[0].name }}<br>
                            <span class="btn btn-primary">Мне нравится</span>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>