{% extends '_recommendations.html' %}

{% block title %}Похожие пользователи{% endblock %}

{% block recblock %}
<h2>Похожие пользователи</h2>
<table class="table">
    <thead>
        <tr>
            <td>Пользователь</td>
            <td>Дистанция L1</td>
            <td>Общие лайки</td>
        </tr>
    </thead>
    {% for item in data %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.l1 }}</td>
        <td>{{ item.same_likes }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}